header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 3% 0 3% 0;
  font-size: large;
}

.bookInput {
  background-color: gray;
  width: 100%;
  height: 2%;
  text-align: center;
  padding: 1% 0 1% 0;
}

input[type="text"] {
  margin: 0 0.5%;
  border: 3px solid whitesmoke;
  width: 30%;
}

input[type="text"]:focus {
  background-color: antiquewhite;
}

.filterOptions {
  background-color: lightgray;
  padding: 2% 0;
}

.bookFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.filterOptions label {
  display: flex;
  flex-direction: row;
}

select {
  width: 30%;
}

select:focus {
  background-color: antiquewhite;
}
